@import "tailwindcss";

@theme {
  --color-*: initial;
  --color-bg: rgb(16, 15, 15);
  --color-bg-2: rgb(28, 27, 26);
  --color-ui: rgb(40, 39, 38);
  --color-ui-2: rgb(52, 51, 49);
  --color-ui-3: rgb(64, 62, 60);
  --color-tx-3: rgb(87, 86, 83);
  --color-tx-2: rgb(135, 133, 128);
  --color-tx: rgb(206, 205, 195);
  --color-og: oklch(0.66 0.18 45);

  --font-sans: 'DINdong', sans-serif;
  --font-serif: 'BIZUDPMincho', serif;
  --font-mono: 'VictorMono', monospace;
}