---

---

<div class="grid grid-cols-1 md:grid-cols-3 gap-4">
  <div
    class="p-4 border border-ui-2 flex flex-col gap-4 items-center text-center"
  >
    <span class="text-4xl font-sans">3</span>
    <span class="text-tx-2">Días</span>
  </div>
  <div
    class="p-4 border border-ui-2 flex flex-col gap-4 items-center text-center"
  >
    <span class="text-4xl font-sans">4</span>
    <span class="text-tx-2">Temáticas</span>
  </div>
  <div
    class="p-4 border border-ui-2 flex flex-col gap-4 items-center text-center"
  >
    <span class="text-4xl font-sans">150</span>
    <span class="text-tx-2">Participantes</span>
  </div>
  <div
    class="col-span-1 md:col-span-3 border border-ui-2 py-4 space-y-4 grid grid-cols-1 md:grid-cols-3 gap-4"
  >
    <div class="flex items-center justify-center">
      <pre
        class="font-mono text-[5px] leading-none text-tx font-medium select-none">
                        |~------------~/                        
                    -------_---     ~------~                    
                 ----~-_      ~ -         ~-~-~                 
               ~---        +~----~-          ~--~               
              -~---       ---                  _-~              
            ~-~-----_---~~~~-__                  ~-~            
           ~~~  -------___  -~--                  ~--           
          ~-_       ------~ ~ -~-- ~               ~-~          
         ~-_           ~--_~/~~~~~~~                ~~~         
         -~             /--~-~~--~~~~                ~~         
        ~-                 ~~~~~~~~~~~~~              --        
        ~-                ~~~~~~~~~~~~~~_             ~~        
        --               _~~~~~~~~~~~~~~~~~~~~        ~~        
        --               -~~~~~~~~~~~~~~~~~~~~~_      ~~        
        ~-                 ~~~~~~~~~~~~~~~~~~~~       ~~        
         -~                 ~~~~~~~~~~~~~~~~~~       _~         
         ~-                   /~~~~~~~~~~~~~~        ~~         
         _~~                   ~~~~~~~~~~~~_l       ~~_         
          ~~~                 \~~~~~~~~~~          ~~~          
           _~~                ~~~~~~~~~~          ~~_           
             ~~~              ~~~~~~~_          ~~~             
              _~~~            ~~~~~_          ~~~_              
                _~~~          ~~~~          _~~_                
                  _~~~~/      _~~_ |    ~~~~~_                  
                     __~~~~~~___~~__~~_~~~\                     
                           \~__~_____                           
                                                     
    </pre>
    </div>
    <div
      class="col-span-1 md:col-span-2 flex flex-col items-start justify-center"
    >
      <span class="text-4xl font-sans">ONLINE</span>
      <br />
      <span class="text-tx-2">
        Abierto a latinos de todo el mundo, desde el discord de <a
          href="https://indies.la"
          class="text-tx underline font-sans"
          target="_blank"
          rel="noopener noreferrer">INDIES.la</a
        >
      </span>
    </div>
    <div class="col-span-1 md:col-span-3 grid grid-cols-1 sm:grid-cols-3 gap-4">
      <div
        class="text-tx-2 font-sans text-3xl flex items-center justify-center"
      >
        LAN Party
      </div>
      <div class="flex items-center justify-center col-span-1 sm:col-span-2">
        <div class="col-span-2">
          <span class="text-4xl font-sans">Santiago de Chile</span>
          <br />
          <span class="text-tx-2">
            En la Pontificia Universidad Católica de Chile, organizado por <a
              href="https://www.instagram.com/unite_uc/"
              target="_blank"
              rel="noopener noreferrer"
              class="text-tx underline font-sans">UNITE</a
            >
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
