---

---

<div class="space-y-2">
  <p class="text-tx-2">Hackathon para el bien social</p>
  <h1 class="text-6xl md:text-8xl font-sans">hack@latam</h1>
  <p class="text-balance">
    América Latina se une para atacar los problemas que más afectan a la región.
  </p>
  <p>
    Desde corrupción a seguridad pública. <br /> Programemos un futuro mejor.
  </p>
</div>
